################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Catalan
/GreedyRobot
/List342/.vs/List342/v16
/List342/Debug
/List342/Release
/List342/a.out
/List342/childExample.txt
/List342/LatchagueProgram3.zip
/List342/List342.cpp
/List342/list342.h.gch
/List342/List342.vcxproj
/List342/List342.sln
/List342/List342.vcxproj.filters
/List342/List342.vcxproj.user
/List342/Output.txt
/Pointers/.vs/Pointers/v16
/Pointers/Debug
/Pointers/Pointers.sln
/Pointers/Pointers.vcxproj.user
/Pointers/Pointers.vcxproj.filters
/Pointers/Pointers.vcxproj
/Sorting/.vs/Sorting/v16
/Sorting/Sorting.sln
/Sorting/Sorting.vcxproj
/Sorting/Sorting.vcxproj.filters
/Sorting/Sorting.vcxproj.user
