################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GreedyRobot/.vs/GreedyRobot/v16
/GreedyRobot/GreedyRobot.vcxproj.filters
/GreedyRobot/GreedyRobot.vcxproj.user
/GreedyRobot/GreedyRobot.vcxproj
/GreedyRobot/GreedyRobot.sln
/Catalan/.vs/Catalan/v16
/Catalan/Catalan.vcxproj
/Catalan/Catalan.vcxproj.user
/Catalan/Catalan.vcxproj.filters
/Catalan/Catalan.sln
